<h3 class="text-center">Welcome to Calendar Application </h3><hr>
<div align="center">
  <button type="button" class="btn btn-lg btn-outline-primary"><%= link_to 'Visit website Prototype',    home_search_path %></button>
  <button type="button" class="fa fa-angle-left btn btn-lg btn-outline-primary" style="color: black"><%= link_to 'Visit admin Prototype' %></button>
</div>


<style type="text/css">
	h3{
		margin-top: 50px;
	}
	.btn{
		margin-top: 26px;
		
	}
</style>

<!-- My Project 98223  -->


